<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/slide1.png" >

      <div class="slider-text">
        <h2>ECHANGE FACILE</h2>
      </div>

      <div class="navigator">
        
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/slide2.png" >
      <div class="navigator">
        
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/slide3.png" >
      <ion-button color="primary" (click)="LoginPage()">COMMENCER</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>